#clockContainer {
  height: 40vw;
  width: 40vw;
  background: url(clock2.png) no-repeat;
  background-size: 100%;
  margin: auto;
  position: relative;
}

#hour {
  width: 1.8%;
  height: 25%;
  top: 25%;
  left: 48.83%;
  background-color: black;
}

#minute {
  width: 1.4%;
  height: 30%;
  top: 20%;
  left: 49%;
  background-color: black;
}

#second {
  width: 1%;
  height: 39%;
  top: 11%;
  left: 49.27%;
  background-color: rgb(156, 51, 51);
}

#date {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 60%;
    width: 60%;
    max-width: 300px;
    background-color: transparent;
    font-size: 2.6vw;
    color: azure;
    font-weight: bold;
    text-align: center; 
  }

#hour,
#minute,
#second {
  transform-origin: bottom;
  border-radius: 5px;
  position: absolute;
}
  
@media (max-width: 600px) {
    #date {
      font-size: 3.2vw;
    }
  }
